* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  color: black;
  list-style: none;
  font-family: fantasy;
}

body {
  background-color: rgb(200,200,200);
}

#page_title {
  text-align: center;
  color: rgb(150,60,150);
  font-size: 4vw;
}

.dropdown_menu {
  float: left;
  width: 10vw;
}

.dropdown_menu li.title {
  box-shadow: 2px 2px rgb(90,20,90);
  color: white;
  background-color: rgb(150,60,150);
}

.dropdown_menu li.title:hover {
  background-color: rgb(90,40,90);
}

.dropdown_menu li.option {
  box-shadow: 2px 2px rgb(40,40,40);
  display: none;
}

.dropdown_menu:hover > li.option {
  display: block;
}

.dropdown_menu:hover > li.title {
  background-color: rgb(110,40,110);
}

.dropdown_menu li.option {
  background-color: rgb(140,140,140);
  color: white;
}

.dropdown_menu li {
  font-weight: bold;
  user-select: none;
  cursor: pointer;
  padding: 4px 6px;
  text-align: left;
}

.dropdown_menu li.option:hover {
  background-color: rgb(100,100,100);
}
